asgiref==3.11.1
cfgv==3.5.0
distlib==0.4.0
dj-database-url==3.1.1
Django==5.2.11
filelock==3.21.2
gunicorn==25.1.0
identify==2.6.16
iniconfig==2.3.0
mypy==1.11.2
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.0
platformdirs==4.7.0
pluggy==1.6.0
pre_commit==4.5.1
psycopg==3.3.2
psycopg-binary==3.3.2
Pygments==2.19.2
pytest==9.0.2
PyYAML==6.0.3
ruff==0.6.9
sqlparse==0.5.5
typing_extensions==4.15.0
virtualenv==20.36.1
whitenoise==6.11.0
